@import "../App";

.projects {
  min-height: $pageContentHeight;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 1rem;
  }
}

.project {
  max-height: 80%;
  max-width: 80%;

  @media only screen and (max-width: 768px) {
    max-height: 100%;
    max-width: 100%;
  }
}

.link-container {
  display: flex;
  justify-content: center;
}

.project-link {
  color: white;
  font-size: 2rem;
  text-align: center;
  transition: $transition;

  &:hover {
    color: $lightBlue;
    transform: scale(1.2);
    transition: $transition;
  }
}

.project-row {
  justify-content: center;
  gap: 2rem;
}
