.about-block {
  margin: 2rem;
  padding: 1rem;
}

.about-contents {
  text-align: left;
  color: white;
}

.nav {
  justify-content: center;
  align-items: center;
}

.navlink {
  color: white;
  font-size: 1rem;
  transition: all 250ms ease;
  margin-left: 1rem;
  margin-right: 1rem;

  &:hover {
    color: rgb(20, 177, 254);
    transform: scale(1.3);
    transition: all 250ms ease;
  }
}

.initials {
  background: -webkit-linear-gradient(
    -45deg,
    rgb(20, 177, 255),
    rgb(182, 56, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.handwave {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
